*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.center{
    display: flex;
    max-width: 1100px;
    padding: 0 2%;
    margin: 0 auto;
    flex-wrap: wrap;
}

section {
    text-align: center;
}

section.Calculadora{
    padding: 7% 2%;
    
background-color: rgb(30,30,30);
}

.Calculadora img {
    padding-top: px;
}

section.Calculadora h1{
   text-align: center;
    font-size: 50px;
    color: white;
}

section.Calculadora h2{
    text-align: center;
    color: white;
    padding: 15px;
}

section.Calculadora form{
    width: 100%;
}

.Calculadora input[type=banca]{
    
    width: 50%;
    height: 50px;
    margin: 20px 0;
    border-radius: 10px;
    background: #FCFDFF ;
    border: 1px solid #C3CCE8;
    font-size: 18px;
    padding-left: 10px;

}

select{
    width: 50%;
    height: 50px;
    margin: 20px 0;
    border-radius: 10px;
    background: #FCFDFF ;
    border: 1px solid #C3CCE8;
    font-size: 18px;
    padding-left: 10px;
}


.items a {

    background-color: #35d443;
    color: white;
    padding: 15px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 18px;
}


