*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.center{
    display: flex;
    max-width: 1278px;
    padding: 0 2%;
    margin: 0 auto;
    flex-wrap: wrap;
    text-align: center;
}

section {
 background-image: url(img/Vermelho\ e\ Preto\ Escuro\ Gamer\ Esportes\ Arte\ para\ canal\ do\ YouTube.png);
 background-repeat: no-repeat;
 background-size: cover;
}

section.Calculadora{
    padding: 7% 2%;
    

}

section h1{
    color: transparent;
}

section.Calculadora h2{
    text-align: center;
    color: white;
    padding: 2%;
}

section.Calculadora form{
    width: 100%;
}

.Calculadora input[type=banca],
.Calculadora input[type=entrada]{
    
    width: 50%;
    height: 50px;
    margin: 20px 0;
    border-radius: 10px;
    background: #FCFDFF ;
    border: 1px solid #C3CCE8;
    font-size: 18px;
    padding-left: 10px;

}

select{
    width: 50%;
    height: 50px;
    margin: 20px 0;
    border-radius: 10px;
    background: #FCFDFF ;
    border: 1px solid #C3CCE8;
    font-size: 18px;
    padding-left: 10px;
    
}



.Calculadora textarea{
   
    height: 50px;
    margin: 20px 0;
    border-radius: 10px;
    background: #FCFDFF ;
    border: 1px solid #C3CCE8;
    padding: 10px;
    font-size: 18px;
    resize: vertical;
    
}



.items input[type="button"] {

    background-color: #35d443;
    color: white;
    padding: 15px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 18px;
}

.items input[value="Errado"]{
    width: 100px;
    background-color: #ff2c25;
    color: white;
    padding: 15px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 18px;
}


.back a{
    
    
    color: white;
    padding: 5px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 18px;
}



footer{
    text-align:center;
    font-size: 18px;
    padding: 5px;
    
    background-color: #35d443;
}

footer a{
    text-decoration: none;
    color: #fff;
}



@media screen and (max-with: 768px) {
    header{
        text-align: center;
    }

    .menu{
        text-align: center;
    }
    .w33,.w50{
        width: 100%;
        margin-bottom: 20px;
    }
}